@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
.geral{
    height: 100vh;
    display: flex;
}
.side-bar{
    height: 100%;
    width: 500px;
    transform: skew(25deg);
    margin-left: -250px;
    background-image: url(img/bg.png);
    background-size: cover;
    background-position: center;
}
.side-left{
    height: 100%;
    width: 350px;
    transform: skew(180deg);
    background-image: url(img/bg-side.png);
    background-size: cover;
    background-position: center;
}
.principal{
    flex: 1;
    height: 100vh;
    /* background-image: url(img/bg.png); */
    /* background-size: cover;
    background-position: left; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.clima-area{
    width: 650px;
    height: 700px;
    background-color: #333;
    z-index: 4;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-area{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-area h1{
    color: white;
    font-size: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
}
.form-busca{
    margin-top: 22px;
    font-family: 'Roboto', sans-serif;
    display: flex;
}
#buscador{
    flex: 1;
    padding: 10px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 0;
}
.form-busca button{
    padding: 10px;
    font-size: 15px;
    border: 0;
    background-color: #555;
    color: #FFF;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}
.resultado {
    width: 400px;
    display: none;
    border: 2px dotted #FFF;
    margin-top: 100px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    font-family: 'Roboto', sans-serif;
}

.titulo {
    width: 100%;
    color: #FFF;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
.subtitle{
    width: 100%;
    color: #FFF;
    font-size: 15px;
    text-align: center;
    padding: 18px;
    margin-top: -15px;
}

.info {
    display: flex;
    width: 100%;
}
.info .temp {
    flex: 1;
    text-align: center;
}
.info .vento {
    flex: 1;
    text-align: center;
}
.tempTitulo,
.ventoTitulo {
    color: #777;
    font-size: 16px;
    margin-bottom: 5px;
}
.tempInfo,
.ventoInfo {
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
}
.tempInfo sup {
    font-size: 15px;
    font-weight: normal;
}
.ventoInfo span {
    font-size: 15px;
    font-weight: normal;
}
.ventoArea {
    width: 50px;
    height: 50px;
    border: 1px solid #FFF;
    border-radius: 50%;
    margin: auto;
    margin-top: 20px;
    padding-left: 25px;
    padding-top: 25px;
}
.ventoPonto {
    width: 15px;
    height: 1px;
    background-color: #FFF;
    transform-origin: left;
}

.aviso {
    color: #FFF;
    padding-top: 20px;
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.vento span{
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

.animacao1{
    animation: changeBg1 4s;
    background-image: url(img/ceu_claro.png);
}

.animacao2{
    animation: changeBg2 4s;
    background-image: url(img/chuva.png);
}

.animacao3{
    animation: changeBg3 4s;
    background-image: url(img/nublado.png);
}

@keyframes changeBg1{
    0%{
        background-image: url(img/bg.png);
    }
    25%{
        background-image: url(img/bg.png);
    }
    50%{
        background-image: url(img/ceu_claro.png);
    }
    75%{
        background-image: url(img/ceu_claro.png);
    }
    100%{
        background-image: url(img/ceu_claro.png);
    }
}

@keyframes changeBg2{
    0%{
        background-image: url(img/bg.png);
    }
    50%{
        background-image: url(img/chuva.png);
    }
}

@keyframes changeBg3{
    0%{
        background-image: url(img/bg.png);
    }
    50%{
        background-image: url(img/nublado.png);
    }
}